.header-container {
    background-color: lightgreen;
    border: 10px dashed green;
    /*animation: 5s animacionBorder infinite;*/
}

.header-text {
    font-family: 'LetraStandard';
    font-size: 100px;
    color: green;

    margin: 0px;
    padding: 10px 0px;

    -webkit-background-clip: text;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-text-fill-color: transparent;
    -webkit-animation: text-animation-color 8s infinite;
    -moz-animation:text-animation-color 8s infinite; /* Firefox */

}

/*@keyframes animacionBorder {
    from {
        border-color: black;
    }
    to {
        border-color:green;
    }
}*/

@-webkit-keyframes text-animation-color {
    /*desde el color base hasta todos*/
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

@-moz-keyframes text-animation-color /* Firefox */
{
    0%   {color:red;}
    50%  {color:yellow;}
    100%   {color:red;}
}

.container-item {
    width: 100px;
    height: 100px;
    /*border: 2px solid black;*/
}