.selector {
    background-color: lightgreen;
    border-right: 10px dashed green;
}

.selector-col-1 {

    /*    height: 100px;
        background-color: yellow;*/
}
.selector-col-2 {
    /*    height: 100px;
        background-color: black;*/
}