.selector {
    background-color: lightgreen;
    border-right: 10px dashed green;
    height: 100%;
    width: 100%;
}

.selector-col-1 {
    padding-top: 15px;
}
.selector-col-2 {
    padding-top: 15px;
}