@font-face {
    font-family: 'LetraHeader'; /*a name to be used later*/
    src: url('../font/fonts/PIJAMAS_.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'LetraHeader2'; /*a name to be used later*/
    src: url('../font/fonts/GREENPIL.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'LetraHeader3'; /*a name to be used later*/
    src: url('../font/fonts/DK.ttf'); /*URL to font*/
}
