@font-face {
    font-family: 'LetraHeader';
    src: url('../font/fonts/PIJAMAS_.ttf');
}
@font-face {
    font-family: 'LetraHeader2';
    src: url('../font/fonts/GREENPIL.ttf');
}
@font-face {
    font-family: 'LetraStandard';
    src: url('../font/fonts/DK.ttf');
}
